.grid {
    display: grid;
    gap: var(--grid-gap);
    width: 100%;
}

.g-1 { grid-template-columns: 1fr; }
.g-2 { grid-template-columns: repeat(2, 1fr); }
.g-3 { grid-template-columns: repeat(3, 1fr); }

@media all and (max-width: 1000px) {
    .g-3 { grid-template-columns: repeat(3, 1fr); }
}

@media all and (max-width: 800px) {
    .g-2 { grid-template-columns: repeat(1, 1fr); }
    .g-3 { grid-template-columns: repeat(2, 1fr); }
    .g-row {
        align-items: center;
        justify-content: center;
    }
}

@media all and (max-width: 550px) {
    .g-3 { grid-template-columns: repeat(1, 1fr); }
}